<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>PSII Attendance Overview</title>
  </head>
  <body>
    <h1>Attendance Overview</h1>
    <table>
      {% for l in learners %}
      <tr>
        <td>{{ l.full_name }}</td>
        <td><div class="status-cell {{l.status.style}}">{{ l.status.label }}</div></td>
        <td>
          {% if l.last_record_today and l.last_record_today.notes %}
          {{l.last_record_today.notes}} {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% if show_nav %}
    <footer>
      <a href="/static/nav.html">Other links</a>
    </footer>
    {% endif %}
  </body>
</html>
