@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html {
  margin: 0px;
  font-size: 22px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e9eaef;
  color: #363636;
  margin: 0px;
}

footer {
  margin-bottom: 0.25rem;
  margin-inline: 0.75rem;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

tr {
  padding: 0.5rem;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: #363636;
}

.hidden {
  display: none;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}
.column {
  margin: 12px;
  padding: 16px;
  /* flex: 50%; */
}

.learner {
  padding: 0.25rem;
  cursor: pointer;
}
.learner:active {
  font-weight: bold;
}
.learner-selected {
  font-weight: bold;
}

.namelist {
  height: 75vh;
  overflow-y: scroll;
  border-radius: 0.75rem;
  border-right: 0.7rem solid #9cb8e6;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.action-list {
  flex-grow: 1;
}

.action {
  margin: 0.25rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-weight: 400;
}
.action:active {
  background-color: gray;
}

.last-record {
  overflow: scroll2;
}
.last-record-visible {
  visibility: visible;
  opacity: 1;
}
.last-record-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#notes {
  margin: 0.25rem;
  font-size: 0.75rem;
}

.status-absent {
  background-color: #f66151;
}
.status-out {
  background-color: #ff9966;
}
.status-in {
  background-color: #57e389;
}
