@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

html {
  margin: 0px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #e9eaef;
  color: #363636;
  margin: 0px;
}

h1 {
  text-align: center;
  font-weight: 700;
}

tr {
  padding: 8px;
}

input,
button,
textarea {
  font-family: "Lato", sans-serif;
  color: #363636;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.column {
  margin: 12px;
  padding: 16px;
  /* flex: 50%; */
}

.learner {
  padding: 4px;
  cursor: pointer;
}
.learner:active {
  font-weight: bold;
}

.learner-selected {
  font-weight: bold;
}
.namelist {
  height: 75vh;
  overflow: scroll;
  border-radius: 12px;
  border-right: 12px solid #9cb8e6;
}

.hidden {
  display: none;
}
.action {
  margin: 4px;
  border: none;
  border-radius: 4px;
  padding: 4px;
  font-weight: 400;
}

#notes {
  margin: 4px;
  font-size: 12px;
}

.action:active {
  background-color: gray;
}

.status-absent {
  background-color: #f66151;
}

.status-out {
  background-color: #ff9966;
}

.status-in {
  background-color: #57e389;
}
